---
import Layout from '@layouts/Layout.astro'
import { Navbar } from '@components/Navbar'
import Intro from '@components/Intro'
import { Figure1 } from '@components/Figure1'
import { Figure2 } from '@components/Figure2'
import { Portfolio } from '@components/Portfolio'
import { LargeText } from '@components/LargeText'
---

<Layout title="Under Construction🚧">
  <main class="text-smoke" id="top">
    <Navbar client:load />
    <div class="mx-auto max-w-[1200px] pt-12 max-lg:px-8 max-xl:px-16 pb-16">
      <Intro />
      <Figure1 />
      <LargeText>
        Love to learn new things especially <span class="text-teal-400"
          >technology and design related field.
        </span>
      </LargeText>
      <Figure2 />
      <Portfolio />
    </div>
  </main>
</Layout>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Source+Code+Pro:wght@300;400;500;600&display=swap');

  * {
    padding: 0;
    margin: 0;
    background-color: #101826;
    font-family: 'Inter', sans-serif;
  }
</style>
